## Level 3 Python Math (Meaning Operators) and Strings

---

### arithmetic operators --->

In [1]:
a = 20
b = a * 10 # multiplication
c = a + 10 # addition
d = a - 10 # subtraction
e = a / 10 # division
f = a % 10 # mod
g = a ** 10 # power
print(a, b, c, d, e, f, g)

20 200 30 10 2.0 0 10240000000000

---

### stringing together --->

In [2]:
name = "Jack"
name1 = "Rose"
year = 1912
print(name + " and " + name1 + " was in the Titanic in " + str(year))

Jack and Rose was in the Titanic in 1912

-> exercise: simple interest rate count

In [4]:
amount = input("Enter your amount: ")
year = input("Enter duration in year: ")
interest_rate = 10
print("You will get total interest: " + str((float(amount) * float(year) * interest_rate) / 100))

Enter your amount:  1000
Enter duration in year:  2

You will get total interest: 200.0

---