## Data types and Variables

---

### int datatype --->

In [5]:
age = int(10)
print(age)

10

easy way

In [6]:
age = 10
print(age)

10

---

### str datatype --->

In [4]:
name = str("Fahad Pathan")
print(name)

Fahad Pathan

-> all the data types can be done in easy way. python is intelligent.

In [8]:
name = "Fahad Pathan"
print(name)

Fahad Pathan

---

### float datatype --->

In [12]:
avg_marks = 66.89
print(avg_marks)

# we can also check the data type
type(avg_marks) # we don't need to use print function here

66.89

float

-> rounding the float value

In [14]:
avg_marks = 78.90
print(round(avg_marks)) # it will round to the nearest whole number

79

-> ceil and floor functions

In [18]:
import math

avg_marks = 89.6
print(math.ceil(avg_marks)) # to the upper value
print(math.floor(avg_marks)) # to the lower value

90
89

---

### bool datatype --->

In [21]:
participated = False
print(participated)
participated = True
print(participated)

False
True

---

### type casting --->

In [22]:
age = "15" # this is string now
print(int(age)) # this is converted to int

15

In [24]:
mark = 56.8
mark = int(mark) # if we type cast a float to an int, it will work as floor function. 
print(mark)

56

In [26]:
age = 20
print("Age is " + str(age)) # from int to string

Age is 20

-> exercise: need to add two float values and print with a text.

In [27]:
height1 = 3.64
height2 = 5.99
height = height1 + height2
print("Total height: " + str(height))

Total height: 9.63

-> exercise: currency convertion from dollar to bdt

In [29]:
dollar = input("Enter dollar amount: ")
bdt = float(dollar) * 109.55
print(dollar + " dollars = " + str(bdt) + " bdt")

Enter dollar amount:  45

45 dollars = 4929.75 bdt